<!DOCTYPE html>
<html>
<head>
  <title>Registrar's Office Class Details</title>
  <meta name="viewport"
           content="width=device-width, initial-scale=1">
      
     <link rel="stylesheet" href=
"https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>

<body>
  <div class="container bg-primary">
      <center>
        <h1>Registrar's Office: Class Details</h1>
      </center>
  </div>
  {% if error_msg: %}
  <p>{{error_msg}}</p>
  {% elif classid is none or classid == '': %}
  <p>missing classid</p>
  {% elif not is_int: %}
  <p>non-integer classid</p>
  {% elif not results: %}
  <p>no class with classid {{classid}} exists</p>
  {% else: %}
  <div class="container">
    <h2>Class Details (class id {{classid}})</h2>
    <strong>Course Id: </strong> {{results['courseid']}} <br>
    <strong>Days: </strong> {{results['days']}} <br>
    <strong>Start time: </strong> {{results['start']}} <br>
    <strong>End time: </strong> {{results['end']}} <br>
    <strong>Building: </strong> {{results['building']}} <br>
    <strong>Room: </strong> {{results['room']}} <br>
  </div>
  <hr>
  <div class="container">
    <h2>Course Details (course id {{results['courseid']}})</h2>
    {% if results['dept_num']|length == 0: %}
    {% else: %}
    {% for dept_num in results['dept_num']: %}
    <strong>Dept and Number: </strong> {{dept_num}} <br>
    {% endfor %}
    {% endif %}
    <strong>Area: </strong> {{results['area']}} <br>
    <strong>Title: </strong> {{results['title']}} <br>
    <strong>Description: </strong> {{results['desc']}} <br>
    <strong>Prerequisites: </strong> {{results['prereq']}} <br>
    {% if results['profs']|length == 0: %}
    {% else: %}
    {% for prof in results['profs']: %}
    <strong>Professor: </strong> {{prof}} <br>
    {% endfor %}
    {% endif %}
    <br/>
    {% endif %}
  </div>

  <div class="container bg-info">
    <center>
      Created by <a href="https://www.cs.princeton.edu/˜rdondero">
      Sam Liang and Sumanth Maddirala</a>.
    </center>
  </div>
</body>
</html>